<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<title>{{ .Title }}</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>{{ .Header }}</h1>
			<h2>Cadastro Area</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="menuitem"><a href="{{ .Host }}/"><h1>::</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Cadastros"><h1>Cadastros</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Relatorios"><h1>Relatórios</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Sobre"><h1>??</h1></a></li>
			</ul>
		</div>

		<div id="content">

			<script type="text/javascript">
	function onsubmitform()
	{
	     var selecionado;
	     if (document.pressed == 'Inserir') {
			if ((document.getElementsByName("preco")[0].value == null ||
				document.getElementsByName("preco")[0].value == "")) {
				alert('Preco não preenchidos!');
				return false;
			}
			if ((document.getElementsByName("id_glp")[0].value == null ||
				document.getElementsByName("id_glp")[0].value == "")) {
				alert('Glp não preenchido!');
				return false;
			}
			if ((document.getElementsByName("id_area")[0].value == null ||
				document.getElementsByName("id_area")[0].value == "")) {
				alert('Area não preenchida!');
				return false;
			} else {
				document.myform1.action = "InserirPreco.jsp";
			}
	     } else if (document.pressed == 'Localizar') {
			document.myform1.action = "cadastro_preco.jsp";
	     } else if (document.pressed == 'Eliminar') {
			selecionado = false;
			for (var i = 0; i < document.getElementsByName("id").length; i++) {
				if (document.getElementsByName("id")[i].checked) {
					selecionado = true;
				}
			}
			if (!selecionado) {
				alert('Registro não selecionado para ser eliminado!');
				return false;
			} else {
			  	document.myform2.action = "EliminarPreco.jsp";
			}
	     } else if (document.pressed == 'Alterar') {
			selecionado = false;
			if ((document.getElementsByName("id_glp")[0].value == null ||
				document.getElementsByName("id_glp")[0].value == "")) {
				selecionado = true;
			}
			if ((document.getElementsByName("id_area")[0].value == null ||
				document.getElementsByName("id_area")[0].value == "")) {
				selecionado = true;
			}
			if (!selecionado && (document.getElementsByName("preco")[0].value == null ||
				document.getElementsByName("preco")[0].value == "")) {
				alert('Area, glp e ou preco não preenchidos!');
				return false;
			} else {
				selecionado = false;
				for (var i = 0; i < document.getElementsByName("id").length; i++) {
					if (document.getElementsByName("id")[i].checked) {
						selecionado = true;
					}
				}
				if (!selecionado) {
					alert('Registro não selecionado para ser alterado!');
					return false;
				} else {
					if (!((document.getElementsByName("preco")[0].value == null ||
						document.getElementsByName("preco")[0].value == ""))) {
							document.getElementsByName("preco_myform1")[0].value = 
								document.getElementsByName("preco")[0].value;
					}
					if (!((document.getElementsByName("id_area")[0].value == null ||
						document.getElementsByName("id_area")[0].value == ""))) {
							document.getElementsByName("id_area_myform1")[0].value = 
								document.getElementsByName("id_area")[0].value;
					}
					if (!((document.getElementsByName("id_glp")[0].value == null ||
						document.getElementsByName("id_glp")[0].value == ""))) {
							document.getElementsByName("id_glp_myform1")[0].value = 
								document.getElementsByName("id_glp")[0].value;
					}
					document.myform2.action = "AlterarPreco.jsp";
				}
			}
	     }
	     return true;
	}
	</script>
			<div id="content_top"></div>
			<div id="content_main">
				<form name="myform1" onsubmit="return onsubmitform();">
					<h1>
						Preco&nbsp;:&nbsp;<input type="number" name="preco"  min="0.01" step="0.01" max="2500" value="">
					</h1>
					<br>
						<h1>
							Glp&nbsp;:&nbsp;<input type="text" name="glp">
							<h1>
							Area&nbsp;:&nbsp;<input type="text" name="area">
							<br><br>
						<table border="1" align="left">
							<tr>
								<td>
									<h1>
										<input type="submit" name="operation"
											onclick="document.pressed=this.value" value="Inserir">
									</h1>
								</td>
								<td>
									<h1>
										<input type="submit" name="operation"
											onclick="document.pressed=this.value" value="Localizar">
									</h1>
								</td>
							</tr>
						</table> <br><br><br>
				</form>
			</div>
			<div id="content_bottom"></div>
		</div>
	</div>
</body>
</html>
