<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<title>{{ .Title }}</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>{{ .Header }}</h1>
			<h2>Cadastro Usuário</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="menuitem"><a href="{{ .Host }}/"><h1>::</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Cadastros"><h1>Cadastros</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Relatorios"><h1>Relatórios</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Sobre"><h1>??</h1></a></li>
			</ul>
		</div>

		<div id="content">

			<script type="text/javascript">
				function onsubmitform() {
					var selecionado;
					if (document.pressed == 'Inserir') {
						if ((document.getElementsByName("login")[0].value == null || 
							document.getElementsByName("login")[0].value == "")) {
								alert('Login não preenchido!');
								return false;
						}
						if ((document.getElementsByName("nome")[0].value == null || 
							document.getElementsByName("nome")[0].value == "")) {
								alert('Nome não preenchido!');
								return false;
						}
						if ((document.getElementsByName("flg_tipo_usuario")[0].value == null || 
							document.getElementsByName("flg_tipo_usuario")[0].value == "")) {
							alert('Tipo não preenchido!');
							return false;
						}
						if ((document.getElementsByName("senha")[0].value == null || 
							document.getElementsByName("senha")[0].value == "")) {
								alert('Senha não preenchida!');
								return false;
						}
						document.myform1.action = "{{ .Host }}/CadastroUsuario";
					} else if (document.pressed == 'Localizar') {
						document.myform1.action = "{{ .Host }}/CadastroUsuario";
					} else if (document.pressed == 'Eliminar') {
						var selecionado = false;
						for (var i = 0; i < document.getElementsByName("id").length; i++) {
							if (document.getElementsByName("id")[i].checked) {
								selecionado = true;
							}
						}
						if (!selecionado) {
							alert('Registro não selecionado para ser eliminado!');
							return false;
						} else {
							document.myform2.action = "{{ .Host }}/CadastroUsuario";
						}
					} else if (document.pressed == 'Alterar') {
						var dados_nao_informados = true;
						if (document.getElementsByName("login")[0].value != null) {
							if (document.getElementsByName("login")[0].value != "") {
								dados_nao_informados = false;
							}
						}
						if (document.getElementsByName("nome")[0].value != null) {
							if (document.getElementsByName("nome")[0].value != "") {
								dados_nao_informados = false;
							}
						}
						if (document.getElementsByName("flg_tipo_usuario")[0].value != null) {
							if (document.getElementsByName("flg_tipo_usuario")[0].value != "") {
								dados_nao_informados = false;
							}
						}
						if (document.getElementsByName("senha")[0].value != null) {
							if (document.getElementsByName("senha")[0].value != "") {
								dados_nao_informados = false;
							}
						}
						if (dados_nao_informados) {
							alert('Login, nome, tipo e ou senha não preenchidos!');
							return false;
						} else {
							var selecionado = false;
							for (var i = 0; i < document.getElementsByName("id").length; i++) {
								if (document.getElementsByName("id")[i].checked) {
									selecionado = true;
								}
							}
							if (!selecionado) {
								alert('Registro não selecionado para ser alterado!');
								return false;
							} else {
								if (!(document.getElementsByName("login")[0].value == null ||
										document.getElementsByName("login")[0].value == "")) {
									document.getElementsByName("login_myform1")[0].value = 
									document.getElementsByName("login")[0].value;
								}
								if (!(document.getElementsByName("nome")[0].value == null || 
										document.getElementsByName("nome")[0].value == "")) {
									document.getElementsByName("nome_myform1")[0].value = 
										document.getElementsByName("nome")[0].value;
								}
								if (!((document.getElementsByName("flg_tipo_usuario")[0].value == null ||
									document.getElementsByName("flg_tipo_usuario")[0].value == ""))) {
										document.getElementsByName("flg_tipo_usuario_myform1")[0].value = 
											document.getElementsByName("flg_tipo_usuario")[0].value;
								}
								if (!(document.getElementsByName("senha")[0].value == null || 
										document.getElementsByName("senha")[0].value == "")) {
									document.getElementsByName("senha_myform1")[0].value = 
									document.getElementsByName("senha")[0].value;
								}
								document.myform2.action = "{{ .Host }}/CadastroUsuario";
							}
						}
					}
					return true;
				}
			</script>

			<div id="content_top"></div>
			<div id="content_main">
				<form name="myform1" onsubmit="return onsubmitform();">
					<h1>
						Login&nbsp;:&nbsp;<input type="text" name="login">
					</h1>
					<h1>
						Nome&nbsp;:&nbsp;<input type="text" name="nome">
					</h1>
					<h1>
						Tipo Usuario&nbsp;:&nbsp;<select name="flg_tipo_usuario"><option value=""></option><option value="2">Deposito</option><option value="3">Motorista</option></select>
					</h1>
					<h1>
						Senha&nbsp;:&nbsp;<input type="password" name="senha"
							pattern=".{6,}"
							title="Senha tem ter minimo 6 ou mais characteres">
					</h1>
					<br>
						<table border="1" align="left">
							<tr>
								<td>
									<h1>
										<input type="submit" name="operation"
											onclick="document.pressed=this.value" value="Inserir">
									</h1>
								</td>
								<td>
									<h1>
										<input type="submit" name="operation"
											onclick="document.pressed=this.value" value="Localizar">
									</h1>
								</td>
							</tr>
						</table> <br><br><br>
				</form>
			</div>
			<div id="content_bottom"></div>

		</div>
	</div>
</body>
</html>
