<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<title>{{ .Title }}</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>{{ .Header }}</h1>
			<h2>::Informações sobre o sistema::</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="menuitem"><a href="{{ .Host }}/"><h1>::</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Cadastros"><h1>Cadastros</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Relatorios"><h1>Relatórios</h1></a></li>
				<li class="menuitem"><a href="{{ .Host }}/Sobre"><h1>??</h1></a></li>
			</ul>
		</div>

		<div id="content">


			<div id="content_top"></div>
			<div id="content_main">
				<h2>Venda e confirmação de recebimento de gas pela internet
					7/24.</h2>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<h3>Objetivo</h3>
				<p>Fidelizar clientes oferecendo ferramenta que possibilita
					incluir pedidos de gas em qualquer hora do dia ou noite. Desta
					forma, o pedido fica é registrado no sistema e sera atendido na
					data solicitada além de estar disponível em tempo real aos
					caminhões de entrega da frota do depósito.</p>
				<p>&nbsp;</p>
				<h3>Aplicabilidade</h3>
				<p>Apoio ao sistema de vendas de depósitos de gas.</p>
				<p>&nbsp;</p>
				<h3>Publico alvo</h3>
				<p>Usuários de gas GLP.</p>
				<p></p>
				<p>&nbsp;</p>
			</div>
			<div id="content_bottom"></div>

		</div>
	</div>
</body>
</html>
